<section class="projects-container">
  <h2 class="projects-title">Proyectos Destacados</h2>

  <div class="projects-grid">
    <div *ngFor="let project of projects" class="card">

      <div>
        <img class="main-image" [src]="project.images.rectangular" alt="{{ project.title }}" />
        <img class="logo-image" [src]="project.images.circular" alt="{{ project.title }} logo" />
      </div>

      <div class="card-body">
        <h2>{{ project.title }}</h2>
        <h3>{{ project.subtitle }}</h3>
        <ul>
          <li><strong>Dirección:</strong> {{ project.details.direccion }}</li>
          <li><strong>Contratante:</strong> {{ project.details.contratante }}</li>
          <li><strong>Fecha:</strong> {{ project.details.fecha }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
