.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #118dbe;
  margin-bottom: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px;
}

.card {
  position: relative;
  width: 300px; /* Aumentamos la anchura de la tarjeta */
  height: 300px; /* Aumentamos la altura de la tarjeta */
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  cursor: pointer;
  overflow: hidden;

  /* Sombra para simular profundidad */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);

  /* Transformaciones para el efecto 3D */
  transform: translateZ(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  /* Efecto de flotación */
  transform: translateZ(10px) scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.card:hover .card-body {
  right: 0;
}

.main-image {
  width: 100%;
  height: 300px; /* Aumentamos la altura de la imagen */
  object-fit: cover;
  border-radius: 10px;
}

.logo-image {
  position: absolute;
  top: 147px;
  right: 3px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background: #fff;

  /* Sombra para simular profundidad */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
  transform: translateZ(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo-image:hover {
  /* Efecto de flotación */
  transform: translateZ(10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.card-body {
  width: 100%;
  height: 100%;
  right: -100%;
  top: 1px;
  position: absolute;
  padding: 20px;
  background: #00000021;;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
}

.card-body h2 {
  font-size: 1.40rem; /* Reducción del 10% respecto a 1.5rem */
  color: #118dbe; /* Color azul del título */
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  font-weight: bold;
}

.card-body h3 {
  font-size: 0.9rem; /* Reducción del 10% respecto a 1rem */
  color: #118dbe;
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
}

.card-body ul {
  list-style-type: none; /* Eliminamos las viñetas */
  margin: 0;
  padding-left: 0; /* Eliminamos el espacio extra a la izquierda */
  color: #000; /* Color negro para los detalles */
  width: 100%; /* Aseguramos que ocupe todo el ancho disponible */
  font-weight: bold;
}

.card-body ul li {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #118dbe; /* Color negro para el texto de los detalles */
  text-align: left; /* Aseguramos que los detalles se alineen a la izquierda */
  width: 100%; /* Aseguramos que ocupe todo el ancho disponible */
}

.card-body strong {
  color: #000;
}

@media (max-width: 500px) {
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    margin-left: 2%;
  }

  .card {
    width: 350px; /* La tarjeta ocupará el 100% del ancho disponible */
    max-width: 350px; /* Se mantiene el tamaño máximo */
    height: 300px; /* Ajuste de altura automática */
  }

  .main-image {
    width: 100%;
    height: 300px; /* Aumentamos la altura de la imagen */
    object-fit: cover;
  }
}
