
html {
  scroll-behavior: smooth;
}

.animate-section {
  transition: transform 0.8s ease-out;
  transform: translateY(-10px);
  padding-bottom: 50px;
}

.animate-section:target {
  transform: translateY(0);
}
