<!-- Componente de Navegación -->
<app-nav></app-nav>

<!-- Inicio -->
<section id="start" class="animate-section">
  <app-start></app-start>
</section>

<!-- Proyectos -->
<section id="projects" class="animate-section">
  <app-projects></app-projects>
</section>

<!-- Sobre Nosotros -->
<section id="about-us" class="animate-section">
  <app-about-us></app-about-us>
</section>

<!-- Contacto -->
<section id="contact-us" class="animate-section">
  <app-contact-us></app-contact-us>
</section>
<!-- Pie de página -->
<app-footer class="pos"></app-footer>
