.about-us-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #118dbe;
  margin-bottom: 20px;
}

.about-us {
  display: grid;
  grid-template-columns: repeat(3, 350px); /* Tres columnas en el contenedor principal */
  gap: 20px; /* Espacio entre los rectángulos */
  padding: 20px;
  justify-content: center; /* Centra el grid horizontalmente */
}

.about-us-item {
  display: grid;
  grid-template-rows: auto 1fr; /* Dos filas: imagen arriba, texto abajo */
  justify-items: center; /* Centra el contenido horizontalmente */
  width: auto;
  text-align: center; /* Centra el texto */
  background-color: #fff; /* Fondo blanco para el rectángulo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra en los bordes */
  border-radius: 8px; /* Bordes redondeados */
  padding: 10px; /* Relleno dentro del rectángulo */
  border: 1px solid #ddd; /* Borde ligero */
}

.about-us-item img {
  width: 180px; /* Tamaño de la imagen */
  margin: 0; /* Sin márgenes adicionales */
}

.text {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify; /* Justifica el texto */
  margin: 0; /* Sin márgenes adicionales */
  max-width: 250px; /* Ancho máximo del texto */
}


@media(max-width: 850px) {
  .about-us {
    display: grid;
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }

  .about-us-item {
    display: grid;
    grid-template-columns: 1fr 250px; /* Dos columnas: imagen (1 parte) y texto (2 partes) */
    align-items: center; /* Centra verticalmente el contenido */
  }

  .about-us-item img {
    width: 150px; /* Reducimos el tamaño de las imágenes */
    margin-left: 0;
    margin-bottom: 10px;
  }

  .text {
    max-width: 80%; /* Ampliamos un poco el ancho del texto */
    font-size: 14px;
  }

  .about-us-item.left {
    direction: ltr; /* Dirección normal: imagen izquierda, texto derecha */
  }

  .about-us-item.right {
    direction: rtl; /* Invertir la dirección: texto izquierda, imagen derecha */
  }

  .about-us-item.right .text {
    direction: ltr; /* Corrige el texto para que no se invierta */
  }

}

@media(max-width: 500px) {
  .about-us {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }

  .about-us-item {
    display: grid;
    grid-template-columns: 1fr 250px;
    align-items: center; /* Centra verticalmente el contenido */
  }

  .about-us-item img {
    width: 120px; /* Imágenes aún más pequeñas */
    margin-left: 0;
    margin-bottom: 10px;
  }

  .text {
    max-width: 90%; /* Aumentamos el ancho del texto */
    font-size: 12px;
  }

  .about-us-item.left {
    direction: ltr; /* Dirección normal: imagen izquierda, texto derecha */
  }

  .about-us-item.right {
    direction: rtl; /* Invertir la dirección: texto izquierda, imagen derecha */
  }

  .about-us-item.right .text {
    direction: ltr; /* Corrige el texto para que no se invierta */
  }
}
