.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  grid-template-areas:
    ". ."
    ". ."
    ". .";
  align-items: center;
  justify-items: center;
  padding: 20px;
}

.about-us-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  transform: translateX(-50%);
  animation: fadeIn 1s forwards;
  view-timeline: --scroll;
}

.about-us-item.left {
  margin-left: 15%;
  justify-content: flex-start;
}

.about-us-item.right {
  margin-right: 15%;
  justify-content: flex-end;
}

.about-us-item img {
  margin-left: 20px;
  width: 180px; /* Ajustamos el tamaño de la imagen */
}

.text {
  max-width: 60%; /* Ajusta el tamaño del texto */
  font-size: 16px;
  line-height: 1.5;
  text-align: justify; /* Justifica el texto */
  margin: 3%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.about-us-item:nth-child(1) {
  animation: fadeInLeft 1s forwards;
  animation-timeline: --scroll;
}

.about-us-item:nth-child(4) {
  animation: fadeInRight 1s forwards;
  animation-timeline: --scroll;
}

.about-us-item:nth-child(5) {
  animation: fadeInLeft 1s forwards;
  animation-timeline: --scroll;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@media(max-width: 850px) {
  .about-us {
    grid-template-columns: 1fr 1fr; /* Para pantallas medianas, mantenemos dos columnas */
    gap: 15px;
  }

  .about-us-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-us-item img {
    width: 150px; /* Reducimos el tamaño de las imágenes */
    margin-left: 0;
    margin-bottom: 10px;
  }

  .text {
    max-width: 80%; /* Ampliamos un poco el ancho del texto */
    font-size: 14px;
  }
}

@media(max-width: 500px) {
  .about-us {
    grid-template-columns: 1fr; /* Para pantallas más pequeñas, una sola columna */
    gap: 20px;
    padding: 10px;
  }

  .about-us-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-us-item img {
    width: 120px; /* Imágenes aún más pequeñas */
    margin-left: 0;
    margin-bottom: 10px;
  }

  .text {
    max-width: 90%; /* Aumentamos el ancho del texto */
    font-size: 12px;
  }
}
