<section>
  <h2 class="about-us-title">Nuestra Empresa</h2>
  <div class="about-us">
    <!-- Primera fila: Imagen izquierda, texto derecha -->
    <div class="about-us-item left">
      <img src="assets/images/about-us.png" alt="Quiénes somos">
      <p class="text">
        Somos una empresa que busca satisfacer a nuestros clientes, prestando un servicio de instalación de redes
        hidrosanitarias, contra incendios y polietileno, con talento humano capacitado y con valores de excelencia
        enfocados en el mejoramiento de los procesos.
      </p>
    </div>
    <!-- Segunda fila: Texto izquierda, imagen derecha -->
    <div class="about-us-item right">
      <img src="assets/images/mision.png" alt="Misión">
      <p class="text">
        Prestar un servicio de instalaciones hidrosanitarias, redes contra incendios y polietileno, siendo una de las
        mejores empresas a nivel nacional, mejorando continuamente los procesos para satisfacer a nuestros clientes,
        generando sostenibilidad financiera para nuestros accionistas, trabajadores y el entorno social.
      </p>
    </div>
    <!-- Tercera fila: Imagen izquierda, texto derecha -->
    <div class="about-us-item left">
      <img src="assets/images/vision.png" alt="Visión">
      <p class="text">
        En el año 2026 nuestra empresa será líder a nivel nacional y reconocida por el cumplimiento y la calidad de su
        servicio, mejorando nuestros procesos en las instalaciones hidrosanitarias, redes contra incendio y polietileno,
        a través del profesionalismo de sus colaboradores, siendo autentico al momento de cumplir con los requerimientos
        y expectativas trazadas.
      </p>
    </div>
  </div>
</section>
